<div class="theme-container" #target>
    <div class="page-title">
        <div (click)="routeBack()" class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <div class="head-lg heading">REVIEW PROPOSAL</div>
        <div class="pull-right breadcrum">
            <span class="head-sm">Application / </span> <span class="head-sm">Review Proposal</span>
        </div>
    </div>
    <form class="theme-form mt-mobile">
    <div class="preview-details">
        <div class="theme-card w-100 p-0">
            <div class="card-content">
                <div class="head-md pull-left rq-head-md">Commercial General Liability
                <div class="theme-label">Quote Number(Q12345-14)</div>
                </div>
                <div class="disp-flex preview-structure">
                    <div class="flex-box-100">
                       <div class="fw-100">
                          <div class="head-sm pull-left">CUSTOMER DETAILS</div>
                       </div>
                       <table aria-hidden="true" class="w-100">
                          <tr>
                             <td class="fixed-width"><span class="theme-label">Customer Name</span></td>
                             <td><span class="theme-value">Rajesh</span></td>
                          </tr>
                          <tr>
                             <td class="fixed-width"><span class="theme-label">Email Address</span></td>
                             <td><span class="theme-value">Rajesh@gmail.com</span></td>
                          </tr>
                          <tr>
                             <td class="fixed-width"><span class="theme-label">Mobile Number</span></td>
                             <td><span class="theme-value">+91 9889767545</span></td>
                          </tr>
                       </table>
                    </div>
                    <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">INSURED DETAILS</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Type</span></td>
                              <td><span class="theme-value">Rajesh</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Policy Inception Date</span></td>
                              <td><span class="theme-value">Rajesh@gmail.com</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Named Insured</span></td>
                              <td><span class="theme-value">+91 9889767545</span></td>
                           </tr>
                           <tr>
                            <td class="fixed-width"><span class="theme-label">Mailing Address</span></td>
                            <td><span class="theme-value">Rajesh</span></td>
                         </tr>
                         <tr>
                            <td class="fixed-width"><span class="theme-label">Period</span></td>
                            <td><span class="theme-value">Rajesh@gmail.com</span></td>
                         </tr>
                         <tr>
                            <td class="fixed-width"><span class="theme-label">Business Description</span></td>
                            <td><span class="theme-value">+91 9889767545</span></td>
                         </tr>
                         <tr>
                            <td class="fixed-width"><span class="theme-label">Currency of Quote</span></td>
                            <td><span class="theme-value">Rajesh</span></td>
                         </tr>
                         <tr>
                            <td class="fixed-width"><span class="theme-label">GSTIN</span></td>
                            <td><span class="theme-value">Rajesh@gmail.com</span></td>
                         </tr>
                         <tr>
                            <td class="fixed-width"><span class="theme-label">Form of Business</span></td>
                            <td><span class="theme-value">+91 9889767545</span></td>
                         </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">HOTEL</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Grade of the Hotel (Star)</span></td>
                              <td><span class="theme-value">5</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Total Number of Rooms</span></td>
                              <td><span class="theme-value">1000</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">EDUCATIONAL INSTITUTES/ SCHOOL/ COLLEGES/TRAINING INSTITUTES</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Is the Instittute an International School</span></td>
                              <td><span class="theme-value">Yes</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Total Number of Students</span></td>
                              <td><span class="theme-value">248</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Is Hostel/Accomodation facility being offered</span></td>
                              <td><span class="theme-value">Yes</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">WINDMILLS</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">No. of Windmills</span></td>
                              <td><span class="theme-value">5</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Total MW Capacity of all the windmills combined together</span></td>
                              <td><span class="theme-value">1000</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">RESIDENTIAL HOUSING SOCIETY</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">No. of Flats</span></td>
                              <td><span class="theme-value">12</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">SOLAR PLANTS</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">No. of Solar Plants</span></td>
                              <td><span class="theme-value">5</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Total MW Capacity of all the Solar Plants combined together</span></td>
                              <td><span class="theme-value">1000</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">LIMIT OF LIABILITY</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Combined single Limit for General Aggregate & Products / Completed Operations</span></td>
                              <td><span class="theme-value">INR 10,00,00,000 Any one Occurence And INR 10,00,00,000 In The Aggregate</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Personal and Advertising Injury Limit</span></td>
                              <td><span class="theme-value">INR 10,00,00,000 Any one Occurence And INR 10,00,00,000 In The Aggregate</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Fire Damage Limit</span></td>
                              <td><span class="theme-value">10% of Limit of Liability Subject to Maximum of 250000 Per Occurence</span></td>
                           </tr>
                           <tr>
                            <td class="fixed-width"><span class="theme-label">Medical Expenses Limit</span></td>
                            <td><span class="theme-value">5% of Limit of Liability Subject to Maximum of 100000 Per Person</span></td>
                         </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">FORM</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="rq-span">CGL- Claims Made</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">CONDITIONS</div>
                        </div>
                        <div class="fw-100">
                            <div class="head-sm pull-left">The Policy will be issued subject to the following conditions:</div>
                         </div>
                         <div class="theme-label">Key Coverages/Extensions</div>
                         <ol class="rq-list">
                            <li>Defense Costs Included In The Limit OF Liability As Per Endorsement</li>
                            <li>Designated Premises As Per Endorsement</li>
                            <li>Designated Product As Per Endorsement</li>
                            <li>The Policy Covers Legal Ability Arising Out Of Travel Of Executives Of The Named Insured Anywhere In The World For Non-Manual Business Visits Only</li>
                            <li>The Policy Covers Legal Ability For Bodily Injury / Propoerty Damage Arising Out Of Employee Engagement, Marketing And Promotional Activities Conducted At Insured's Premises By The Named Insured During The Policy Period As PEr Policy</li>
                            <li>Coverage For Automatic Cover Until 90 Days Of Acquistion Of New Subsidiaries As Per Policy</li>
                            <li>Coverage For Act Of God Peril As Per Policy</li>
                            <li>Coverage For Food And Beverages As Per Policy</li>
                            <li>Coverage For Lift Liability As Per Policy</li>
                            <li>The Policy Covers Legal Liability For BI/PD Arising Out Of Training Conducted During The Normal Business Hours As Per Policy</li>
                            <li>Cover For Cross Liability As Per Policy</li>
                            <li>Additional Insured Endorsement - Wherever Required By Written Contract</li>
                            <li>Waiver Of Subrogation - Wherever Required By Written Contract</li>
                            <li>72 Hours Sudden And Accidental Pollution Coverage Under General Aggregate Limit As Per Endorsement Subject To:</li>
                            <li>Coverage Territory And Coverage Jurisdiction: India</li>
                            <li>Specific Matter Endorsement - Terrorism Legal Liability Coverage As Per Endorsement Subject To:
                                <ol class="rq-nestList">
                                    <li>Sub-Limited To General Aggregate Limit Any One Occurence And In The Aggregate</li> 
                                    <li>Defense Costs Further Sub-Limited To General Aggregate Limit Any One Occurence And In The Aggregate</li> 
                                    <li>Coverage Territory And Coverage Jurisdiction: India Only</li>
                                </ol>
                            </li>
                            <li>Non-Owned And Hired Automobile Liability Coverage As Per Endorsement Subject To:
                                <ol class="rq-nestList">
                                    <li>Sub-Limited To General Aggregate Limit Any One Occurence And In The Aggregate</li>
                                    <li>It Is A Condition Precedent To Liability That A Valid Motor Vehicle Insurance Under The MV Act Be Maintained At All Times And This Extension Will Operate In Excess Of Such Statutory Cover</li>
                                    <li>Coverage Territory And Coverage Jurisdiction: India Only</li>
                                </ol>
                            </li>
                            <li>Policy Covers Legal Liability Arising Out Of, Based Upon Or Attribute To The Meetings And/Or Conferences And Or</li>
                            <li>Exhibitions And/ Or Promotional Events Organized By The Named Insured During The Policy Period Subject To The Following:
                                <ol class="rq-list pl-0">
                                    <li>Sub-Limited To Limit Of Liability Of General Aggregate Limit Any One Occurence And In The Aggregate.</li>
                                    <li>No Cover For ""Property Damage"" To Surrounding Properties Belonging To The Premises Occupied For The Event And Property Of Event Organizers And/Or Named Insured And/Or Their Contractors And/Or Their Sub Contractor.</li> 
                                    <li>No Cover For ""Bodily Injury"" To The Employees Of The Event Organizers And/Or Named Insured And/Or Their Contractors And/Or Their Sub Contractors.</li>
                                    <li>No Cover For Property Being Worked Upon By The Event Organizers And/Or Named Insured And/Or Their Contractors And/Or Their Sub Contractors.</li>
                                    <li>This Is A Condition Precedent To Liability That Crowd Accumulation At Any Given Point Of Time Shall Not Exceed 1,000 At Any Given Point Of Time.</li>
                                    <li>No Cover For Event Cancellation And/Or Postponement</li>
                                    <li>Coverage Territory And Coverage Jurisdiction: India Only</li>
                                </ol>
                            </li>
                            <li>Policy Covers Legal Liability Arising Out Of Based Upon Or Attributable To Minor Civil Works, Renovation, Interior</li>
                            <li>Alterations, New Addition To Existing Building, Repairs And Refurbishment, Subject To:
                                <ol class="rq-alphaList">
                                   <li>Sub Limited To General Aggregate Limit Any One Occurence And In The Aggregate(But In No Case This Sublimit To Exceed INR 60 Lakhs In The Aggregate)</li>
                                    <li>No Cover For ""Property Damage"" To Any Surrounding Property</li>
                                    <li>No Cover For Property Being Worked Upon By The Insured And/Or Their Contractors And/Or Their Sub Contractors</li>
                                    <li>No Cover For ""Bodily Injury"" Of The Employees Of The Insured And/Or Their Contractors And/Or Their Sub Contractors</li>
                                    <li>This Coverage Is In Excess Of TPL Section Of CAR Policy( As Applicable)</li>
                                    <li>Coverage Territory And Coverage Jurisdiction: India</li>
                                </ol>
                            </li>
                            <li>Tenant's Legal Liability - Sub Limited 10% Of LOL Each Occurence And In The Aggregate Coverage Territory And Coverge Jurisdiction: India</li>
                            <li>Policy Covers
                                <ol class="rq-alphaList">
                                    <li>Coverage For Valet Parking Under Care, Custody And Control As Per Endorsement</li>
                                    <li>Personal Property Under Care, Custody And control As Per Endorsement</li> 
                                </ol>
                            </li>
                            <li>For A & B. Above Subject To Following
                                <ol class="rq-list">
                                    <li>Sub Limited To 25% Of General Aggregate Limit Any One Occurence And In The Aggregate(But In No Case This Sublimit To Exceed INR 1 Crore In The Aggregate)</li>
                                    <li>Maximum Of 3 Losses During The Period Of The Policy</li>
                                    <li>Valet Driving By Drivers Having A Valid Driving License</li>
                                    <li>Parking Done Within The Designated Premises Only</li>
                                    <li>Warranted That In Case Of Theft, Insured Must Lodge A Police Complaint With The Authorities</li>
                                    <li>Coverage Territory And Coverage Jurisdiction: India</li>
                                </ol>
                            </li>
                            <li>Transportation Legal Liability Sub Limited To 25% Of LOL Each Occurence And In The Aggregate Coverage Territory And Coverge Jurisdiction: India</li>
                            <li>Incidental Medical Malpractice Extension For First Aid Only As Per Endorsement:
                                <ol class="rq-list">
                                    <li>Sub Limited To 25% Of General Aggregate Limit Any One Occurence And In The Aggregate(But In No Case This Sublimit To Exceed INR 1 Crore In The Aggregate)</li>
                                    <li>Coverage Territory And Coverage Jurisdiction: India</li>
                                </ol>
                            </li>
                            <li>Coverage For Discharge Of Treated Effluents As Per Endorsement Wordongs Outside Plant Premises Subject To
                                <ol class="rq-nestList">
                                    <li>Discharge Point Upto 5 Kilometers From The Insured Premises</li>
                                    <li>Coverage Territory And Coverage Jurisdiction: India</li>
                                </ol>
                            </li>
                            <li>Batch Clause</li>
                        </ol>
                        <div class="theme-label">Key EXCLUSIONS & CONDITIONS</div>
                        <ol class="rq-list">
                            <li>PRoperty Damage To Electronic Data Exclusion</li>
                            <li>Absolute Professional Liability Exclusion</li>
                            <li>Care, Custody And Control Exclusion Other Than Cover For Personal Property And Valet Parking Under Care, Custody And Control Coverage Offered Above</li>
                            <li></li>
                        </ol>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">DEDUCTIBLE</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Deductible 1</span></td>
                              <td><span class="theme-value">50,000 Each And Every Claim For General Aggregate</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Deductible 2</span></td>
                              <td><span class="theme-value">1,00,000 Each And Every Claim For Products & Completed Operations</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">COVERAGE TERRITORY</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">General Aggregate</span></td>
                              <td><span class="theme-value">India But Worldwide For Travel Executives</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Products/ Completed Operations Limit</span></td>
                              <td><span class="theme-value">Worldwide Excluding USA/Canada</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">COVERAGE JURISDICTION</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">General Aggregate</span></td>
                              <td><span class="theme-value">Worldwide Including USA/Canada</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Products/ Completed Operations Limit</span></td>
                              <td><span class="theme-value">Worldwide Including USA/Canada</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">ANNUAL PREMIUM</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Annual Premium</span></td>
                              <td><span class="theme-value">107445</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Taxes as Applicable is Additional</span></td>
                              <td><span class="theme-value"></span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">RETROACTIVE DATE</div>
                        </div>
                        <div class="rq-span">As of Inception Date of This Tata Aig Policy</div>
                        <div class="rq-span">The Above Retroactive Date, (Applicable Only To Claims-Made Forms) Is Subject To:</div>
                        <ol class="rq-list">
                           <li>Property Damage To Electronic Data Exclusion</li>
                           <li>Absolute Professional Liability Exclusion</li>
                           <li>Care, Custody And Control Exclusion Other Than Cover For Personal Property And Valet Parking Under Care, Custody And Control Coverage Offered Above</li>
                           <li>Specific Matter Endorsement - War, Terrorism And Sabotage Exclusion Other Than Terrorism Coverage Offered Above</li>
                           <li>Fines, Penalties, Punitive And Exemplary Damages Exclusion</li>
                           <li>Pure Financial Loss Exclusion</li>
                           <li>30 Days Cancellation Endorsement</li>
                           <li>Subject To 18 Above: No Cover For Liability Arising Out Of Civil Work Project Exposure Of Any Kind</li>
                           <li>Specific Matter Endorsement - Absolute Cyber Exclusion</li>
                           <li>Specific Matter Endorsement - Absolute Asbestos And Silica Exclusion</li>
                           <li>Specific Matter Endorsement - Absolute Nuclear Exclusion</li>
                           <li>Deductible Endorsement</li>
                           <li>Sanctions Endorsement</li>
                           <li>Specific Matter Endorsement - Absolute Aviation Exclusion</li>
                           <li>Specific Matter Endorsement - Communicable/Contagious Diseases, Covid 19</li>
                           <li>Product Recall And Guarantee Excluded</li>
                           <li>Absolute Inefficacy Exclusion</li>
                           <li>No Cover For Products Finding Its Use In Or As Baby Wear / Infant Wear</li>
                           <li>No Cover For Products Finding Its Application In Or As Medical / Healthcare Industry</li>
                           <li>This Policy Does Not Cover Any Claim In Connection With Or On Account Of Operations Outside India</li>
                           <li>This Policy Does Not Cover Any Claim In Connection With Or On Account Of The Following:
                              <ol class="rq-alphaBrackList">
                                 <li>Any Hydraulic Structure Including But Not Limited To Damage</li>
                                 <li>Mines( Whether Underground Or Open Cast) And Colliaries</li>
                                 <li>Tailing Storage Facilities</li>
                                 <li>Offshore Risks</li>
                              </ol>
                           </li>
                           <li>No Higher/Excess Limits To Be Taken Without The Prior Written Consent Of Tata AIG General Insurance Company</li>
                           <li>This Quote Is Not Valid If USA/ Canada Turnover Exceeds 40% Of The Total Turnover Declared By The Insured</li>
                           <li>50,000 Each And Every Claim For General Aggregate</li>
                           <li>100,000 Each And Every Claim For Products & Completed Operations</li>
                       </ol>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">UNDERWRITING INFORMATION</div>
                        </div>
                        <div class="rq-span">The Information Summarized Below Is Based Upon Representations/ Statements Made To Us By You Or On Your Behalf And/Or Information That Has Been Provided To Us By You, Or On Your Behalf. It Is The Basis Upon Which We Agreed To Underwrite This Risk.</div>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">ANNEXURE A - DESIGNATED PREMISES:</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Count of Premises</span></td>
                              <td><span class="theme-value">5</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Occupancy of Premises</span></td>
                              <td><span class="theme-value">Manufacturing <br> 
                                        Warehouse/Godown <br>
                                        Office <br>
                                        Show Room</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">ANNEXURE B - DESIGNATED PRODUCTS:FOOD</div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Turnover (INR crore)</span></td>
                              <td><span class="theme-value">India - INR 400000000 <br> 
                                        Europe/ UK / Austrailia - INR 0<br>
                                        ROW - INR 100000000 <br>
                                        USA/Canada - INR 0</span></td>
                           </tr>
                        </table>
                        <div class="theme-label mt-2">
                            Other Underwriting Information
                        </div>
                        <div class="theme-label">
                            <p class="mb-0">a) for the past 5 years there are no known or reported losses.</p>
                            <p class="mb-0">b) till date of inception of this policy the insured is not aware of any loss or circumstance that could lead to a claim under this policy</p>
                        </div>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">ADDITIONAL DETAILS</div>
                           <div class="pull-right">
                            <button *ngIf="!isProposalFinalized" class="btn quotelist-btn"> <svg class="svg-xs">
                                    <use xlink:href="#ICON_Edit" />
                                </svg></button>
                        </div>
                        </div>
                        <table aria-hidden="true" class="w-100">
                            <tr>
                                <td class="fixed-width"><span class="theme-label">Account Number</span></td>
                                <td><span class="theme-value">107445</span></td>
                             </tr>
                             <tr>
                                <td class="fixed-width"><span class="theme-label">PAN Number</span></td>
                                <td><span class="theme-value">107445</span></td>
                             </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Annual Income</span></td>
                              <td><span class="theme-value">107445</span></td>
                           </tr>
                           <tr>
                              <td class="fixed-width"><span class="theme-label">Landline Number</span></td>
                              <td><span class="theme-value">12345</span></td>
                           </tr>
                        </table>
                     </div>
                     <div class="flex-box-100">
                        <div class="fw-100">
                           <div class="head-sm pull-left">DOCUMENT UPLOAD</div>
                           <div class="pull-right">
                            <button *ngIf="!isProposalFinalized" class="btn quotelist-btn"> <svg class="svg-xs">
                                    <use xlink:href="#ICON_Edit" />
                                </svg></button>
                        </div>
                        </div>
                        <div class="theme-label">EXPIRING POLICY COPY</div>
                        <table aria-hidden="true" class="w-100">
                            <tr>
                                <td class="fixed-width"><span class="theme-label">Document Name</span></td>
                                <td><span class="theme-value">document.pdf</span></td>
                             </tr>
                             <tr>
                                <td class="fixed-width"><span class="theme-label">Remark</span></td>
                                <td><span class="theme-value">Lorem-Ipsum-Dolor-Sit-Amet,Et-Mea-Quem-Unum-ludico</span></td>
                             </tr>
                        </table>
                     </div>
                </div>
            </div>
        </div>
       
    
    
    




        
    </div>
    <div class="theme-card p-0 w-100 mt-4">
      <!-- <div class="col-md-12 mt-4"> -->
         <div class="card-content disp-flex theme-form-card">
            <div class="flex-box-100">
                <div class="row">
                  <div class="col-lg-12 theme-value">UNDERWRITER HISTORY</div>
                </div>
               <div class="row m-t-lg">
                  <div class="col-lg-12 head-sm text-red">The case is taken to the underwriter</div>
               </div>
               <div class="row m-t-lg border-as-bottom">
                  <div class="col-lg-12 head-sm">AGENT <span class="head-sm opacity-sm ml-3">12 / 02 / 2020</span></div>
                  <div class="col-lg-12">
                      <p class="theme-value">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
                  </div>
              </div>
              <div class="row m-t-lg border-as-bottom">
                  <div class="col-lg-12 head-sm">UNDERWRITER <span class="head-sm opacity-sm ml-3">12 / 02 / 2020</span></div>
                  <div class="col-lg-12">
                      <p class="theme-value">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, </p>
                  </div>
              </div>
              <div class="row m-t-lg border-as-bottom">
                  <div class="col-lg-12 head-sm">CS REPRESENTATIVES<span class="head-sm opacity-sm ml-3">12 / 02 / 2020</span></div>
                  <div class="col-lg-12">
                      <p class="theme-value">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
                  </div>
              </div>
              <div class="row m-t-lg border-as-bottom">
                  <div class="col-lg-12 head-sm">UNDERWRITER <span class="head-sm opacity-sm ml-3">12 / 02 / 2020</span></div>
                  <div class="col-lg-12">
                      <p class="theme-value">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, </p>
                  </div>
              </div>
              <div class="row m-t-lg">
               <div class="col-lg-12 head-sm">CS REPRESENTATIVES<span class="head-sm opacity-sm ml-3">12 / 02 / 2020</span></div>
               <div class="col-lg-12">
                  <table aria-hidden="true" class="w-100">
                     <tr>
                        <td class="fixed-width"><span class="theme-label">Document Name</span></td>
                        <td><span class="theme-value document-uw-name">Sample.pdf</span></td>
                     </tr>
                     <tr>
                        <td class="fixed-width"><span class="theme-label">Remark</span></td>
                        <td><span class="theme-value">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, </span></td>
                     </tr>
                  </table>
               </div>
           </div>
            </div>
         </div>
      <!-- </div> -->
   </div>
   <div [formGroup]="underwriterForm" *ngIf="displayQuoteForm" class="theme-card w-100 p-0 mt-4">
      <div class="card-content">
        <div class="flex-box-100">
           <div class="row">
              <div class="col-md-6 col-lg-4">
               <!-- <ng-select placeholder="Select"   [items]="reasonArray" formControlName="action" placeholder="Select">
               </ng-select> -->
               <ng-select [items]="reasonArray" [searchable]="false" formControlName="action" placeholder="Select" class="ngSelectOption 1">
               </ng-select>
              </div>
              <div class="form-field col-md-12 col-lg-12">
                 <label for="uwRemark" class="head-sm pull-left">UW Remark</label>
                 <div class="pull-right"><button (click)="removeRemarks()" class="btn link-btn font-sm1">Remove Remarks</button></div>
                 <textarea class="form-control" formControlName="remark" name="uwRemark" id="uwRemark" cols="30" rows="4" placeholder="Remark"></textarea>
              </div>
              <div *ngIf="underwriterForm.value.action == 'Query'" class="col-md-12">
                 <div class="check-default">
                    <input type="checkbox" formControlName="addFile" class="checkbox" id="customer">
                    <label for="customer">Allow User to Add File</label>
                 </div>
              </div> 
           </div>
        </div>
      </div>
   </div>
   <div *ngIf="underwriterForm.value.addFile" class="theme-card w-100 p-0 mt-4">
      <div class="card-content">
       <div *ngFor="let policyDoc of documentArray.controls; index as i" class="row mb-3" [ngClass]="{'border-as-top': i >0}">
           <div *ngIf="i>0" class="fw-100 pt-2">
               <button (click)="removeFileFromArr(i)" class="btn link-btn pull-right">Delete</button>
           </div>
           <div class="form-field col-md-6 col-lg-4">
              <label for="" class="head-sm">DOCUMENT NAME</label>
              <input type="text" class="form-control" name="documentName" id="documentName" autocomplete="off">
                 <span class="error-msg">
                    Required *
                 </span>
           </div>
           <div class="form-field  col-md-6 col-lg-8">
               <div class="head-sm">REMARKS</div>
               <input type="text" id="remark" class="form-control"
                   placeholder="Lorem-Ipsum-Dolor-Sit-Amet,Et-Mea-Quem-Unum-ludico">
           </div>
       </div>
       <div class="px-3 w-100 mt-2">
           <button type="button" (click)="addDocumentFileBtn()"
               class="link-btn font-sm1 p-0 link-btn-fr-pr">+ ADD ANOTHER FILE</button>
       </div>
      </div>
   </div>
   <div *ngIf="underwriterForm.value.action && !displayQuoteForm" class="row">
      <div class="col-md-12 mt-4">
        <button *ngIf="queryRaised" class="btn primary-btn uw-btn theme-lg-btn active"><svg class="uwTickCross-svg pull-left"><use xlink:href="#ICON_Tick_mark"/></svg>Query Has Been Raised</button>
        <button *ngIf="quoteApproved" class="btn primary-btn uw-btn theme-lg-btn active"><svg class="uwTickCross-svg pull-left"><use xlink:href="#ICON_Tick_mark"/></svg>Quote Has Been Approved</button>
        <button *ngIf="quoteRejected" class="btn primary-btn uw-btn theme-lg-btn active"><svg class="uwTickCross-svg pull-left"><use xlink:href="#ICON_Cross"/></svg>Quote Has Been Rejected</button>
        <button *ngIf="referToUW" class="btn primary-btn uw-btn theme-lg-btn active"><svg class="uwYest-svg pull-left"><use xlink:href="#ICON_Yesterday_UW"/></svg>Referred To Underwriter {{uwNum}}</button>
      </div>
  </div>
   <div class="btn-block m-t-lg">
      <button *ngIf="!isProposalFinalized" (click)="finalizeProposal()" type="button" class="btn primary-btn theme-lg-btn active">Finalize Proposal</button>
      <button *ngIf="isProposalFinalized" type="button" class="btn primary-btn theme-lg-btn active">Make Payment</button>
  </div>
  <div class="row col-lg-12 pt-2">
      <span class="rq-ps">Not Applicable for Tata AIG Insurance Company Limited Renewals</span>
  </div>
   </form>
</div>